/* 主体部分 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/*
#showAfford:active{
    display: none;
} */

.donation-container {
    max-width: 100%;
    height: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.donation-header {
    text-align: center;
    margin-bottom: 20px;
}

.donation-header img {
    width: 100%;
    max-width: 335px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.donation-header h1 {
    font-size: 24px;
    color: #333;
}

.donation-info {
    max-width: 500px;
    margin: 0 auto;
}

.donation-info p {
    font-size: 16px;
    line-height: 1.5;
}

.donation-info .p1 {
    font-size: 16px;
    line-height: 1.5;
    text-indent: 2em;
}

/* 艾滋病捐赠登记表部分 */
body {
    background: #f3f3f3;
}

.control {
    width: 340px;
    background: white;
    position: absolute;
    margin-left: 300px;
    margin-top: 25px;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.item {
    width: 340px;
    height: 60px;
    background: white;
}

.item div {
    width: 170px;
    height: 60px;
    float: left;
    color: black;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.content {
    width: 100%;
}

.content div {
    margin: 20px 30px;
    display: none;
    text-align: left;
}

.content button {
    border: 1px solid #ec5252;
    border-radius: 3px;
    margin-right: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    background: white;
}

.content button:hover {
    background: #ec5252;
}

.content .b1 {
    margin-left: 20px;
}

.control .b2 {
    cursor: pointer;
    border: none;
    background: #a91e31;
    border-radius: 3px;
    height: 28px;
    color: #f3f3f3;
    padding: 0 10px;
}

.control .b2:hover {
    background: #ec5252;
}

p {
    color: #4a4a4a;
    margin-top: 30px;
    margin-bottom: 6px;
    font-size: 15px;
}

.active {
    background: #a91e31;
}

.item div:hover {
    background: #ff8080;
}

.input_style input {
    border: 1px solid red;
    margin-bottom: 35px;
    border-radius: 3px;
    margin-left: 47px;
    height: 25px;
}

/* 免责弹窗 */
/* 遮罩层 */
#overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
    display: none;
}

/* 弹出框主体 */
.popup {
    background-color: #ffffff;
    max-width: 400px;
    min-width: 200px;
    height: 240px;
    border-radius: 5px;
    margin: 100px auto;
    text-align: center;
    margin-top: 200px;
}

/* 弹出框的标题 */
.popup_title {
    height: 60px;
    line-height: 60px;
    border-bottom: solid 1px #cccccc;
}

/* 弹出框的内容 */
.popup_content {
    height: 50px;
    line-height: 50px;
    padding: 15px 20px;
}

/* 弹出框的按钮栏 */
.popup_btn {
    padding-bottom: 10px;
}

/* 弹出框的按钮 */
.popup_btn button {
    color: #778899;
    width: 40%;
    height: 40px;
    cursor: pointer;
    border: solid 1px #cccccc;
    border-radius: 5px;
    margin: 5px 10px;
    color: #ffffff;
    background-color: #a91e31;
}

/* 支付界面 */
.afford_window1 {
    background-color: #ffffff;
    /* max-width: 400px;
    min-width: 200px; */
    height: 350px;
    border-radius: 30px;
    margin: 100px 50px;
    /* text-align: center; */
    border: 1px solid #a91e31;

}

.afford_window1 form {
    padding: 0 150px;
}

.afford_window1 form input {
    border: 1px solid #a91e31;
    height: 20px;
    border-radius: 3px;
}

.afford_window1 form label {
    color: #a91e31;
}

.afford_window1 h1 {
    /* margin-top: 10px; */
    text-align: center;
    margin-bottom: 10px;
}

/* 弹窗主体 */
.afford_window2 {
    background-color: #ffffff;
    /* max-width: 400px;
    min-width: 200px; */
    height: 350px;
    border-radius: 30px;
    margin: 100px 50px;
    text-align: center;
    border: 1px solid #a91e31;


}

.afford_window2 h1 {
    margin-top: 15px;
    margin-bottom: 10px;
}

/* 关于我们 */
.about-us-container {
    width: 100%;
    /* max-width: 1000px; */
    margin: 0 auto;
    /* margin-left: 200px; */
}

.about-us-container h2 {
    margin-left: 50px;
    margin-bottom: 20px;
}

.about-us-content {
    line-height: 1.5;
}

.about-us-content p {
    margin-bottom: 15px;
    text-indent: 2em;
}