body{
    background-image: url(../img/login_back.png);
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    max-width: 400px;
    height: 500px;
    background-color: rgba(247, 247,247,.3);
    /* .3背景颜色的透明度为0.3 */
    border: 1px solid white;
    margin: 100px auto;
    color:black;
    border-radius: 5px;
    padding: 25px 45px;
    text-shadow:1px 1px 1px white;
}
a:hover{
    cursor: pointer;
}
x:hover{
    cursor: pointer;
}
.pict{
    margin-left: 100px;
}
#x{
    margin-right: 20px;
    display: inline;
}
div{
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-top: 50px;
    position: relative;
}
input{
    position: absolute;
    right: 80px;
    width: 60%;
    height: 25px;
    line-height: 25px;
    border: 1px solid white;
    outline: none;
    color: rgb(192, 187, 187);
    font-size: 12px;
    padding: 3px 3px 3px 5px;
    border-radius: 10px;
    box-shadow: inset 0px 1px 4px rgb(207, 206, 206);
}
input[type="submit"]{
    width: 50%;
    height: 40px;
    line-height: 15px;
    font-size: 15px;
    background-color: #BDcefc;
    border: none;
    box-shadow: none;
    color: white;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: skyblue;
}
a{
    width: 180px;
    display: block;
    margin: 80px auto;
}