<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>更多英雄</title>
  <link rel="stylesheet" href="../static/css/storyMoreStory.css">
  <link rel="stylesheet" href="../static/LIB/font/font/bootstrap-icons.css">

</head>

<body>
  <main class="grid" id="heroContainer">
    <a href="/story" class="return"><i class="bi bi-arrow-left-square"></i>返回</a>

    <!-- 动态加载内容 -->
  </main>
  <script src="../static/js/more.js"></script>
</body>

</html>