.grid {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

p {
  text-indent: 2rem;
  letter-spacing: .1rem;
}

img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

img:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  transform: translate(0, -5px);
}

a {
  font-weight: normal;
  color: rgb(177, 46, 50);
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
  color: red;
}


@media (max-width: 768px) {
  main.grid {
    grid-template-columns: 1fr;
  }
}