main {
  position: relative;
  width: 60vw;
  margin: 0 auto;
  letter-spacing: .2rem;
}

main h1 {
  color: white;
  display: block;
  width: 60vw;
  height: 5rem;
  margin-top: 0;
  background-color: rgb(177, 46, 50);
  border-bottom: 1px, solid, rgb(177, 46, 50);
  font-size: 2rem;
  text-align: center;
  line-height: 5rem;
  position: fixed;
  top: 0;
  left: 19.4vw;
}

main p {
  font-size: 1.6rem;
  text-indent: 3.2rem;
}

main p:first-of-type {
  margin-top: 5rem;
}

main img:nth-of-type(1) {
  float: right;
  width: 20rem;
  height: auto;
  margin-left: 1rem;
}

main img {
  width: 100%;
  margin-top: 1rem;
}

.return {
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  text-align: center;
  height: 2.2rem;
  line-height: 2.2rem;
  width: 6rem;
  border: 1px solid gray;
  border-radius: calc(.25rem - 1px);
  color: black;
  position: fixed;
  top: 1.2rem;
  left: 12rem;
}

.return:hover,
.return:active {
  background-color: rgb(177, 46, 50);
  color: white;
  text-decoration: none;
}